.idea/
.__pycache__/
/tests/
__pycache__/__init__.cpython-38.pyc
__pycache__/auth.cpython-38.pyc
__pycache__/general.cpython-38.pyc
__pycache__/models.cpython-38.pyc
__pycache__/robots_api.cpython-38.pyc
__pycache__/synthesis_planner.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
MC_Labserver/.env
MC_Labserver/__pycache__/__init__.cpython-38.pyc
MC_Labserver/__pycache__/auth.cpython-38.pyc
MC_Labserver/__pycache__/general.cpython-38.pyc
MC_Labserver/__pycache__/models.cpython-38.pyc
MC_Labserver/__pycache__/robots_api.cpython-38.pyc
MC_Labserver/__pycache__/synthesis_planner.cpython-38.pyc
MC_Labserver/__pycache__/utils.cpython-38.pyc
.vscode/launch.json
MC_Labserver/__pycache__/azo_synthesis.cpython-38.pyc
