{% extends 'general/structure.html' %}
{% block insert1 %}
<script>
    var nav = document.getElementById("nav4");
    nav.className = "active-nav";
</script>
    {% with messages = get_flashed_messages() %}
        <div class="urget_notification">
        {% for message in messages %}
            {{message}}
        {% endfor %}
        </div>
    {% endwith %}
    <h1>Currently queued reactions:</h1>
    <table>
        {% for column in columns %}
        <th class="table-headers">{{column}}</th>
        {% endfor %}
        {% for item in queue_items %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td><a href="{{url_for('general.unqueue', reaction_id=item[3], reaction_name=item[2])}}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
    <div id="page-count">
        Pages:
        {% for i in range(num_pages) %}
            <a href="{{url_for('general.show_queue', page_nr=i, results_per_page=results_per_page)}}">{{i+1}}</a>
        {% endfor %}
    </div>
    <div>
        Results per page:
        <a href="{{url_for('general.show_queue', results_per_page=40)}}">40</a>
        <a href="{{url_for('general.show_queue', results_per_page=100)}}">100</a>
        <a href="{{url_for('general.show_queue', results_per_page=150)}}">150</a>
    </div>
    <h3>Current page: {{cur_page+1}}</h3>
    <div id="queue-options">
        <a href="{{url_for('general.queue_reaction')}}">Queue a reaction</a>
    </div>
{% endblock insert1 %}