<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new reaction</title>
    <link rel="stylesheet" href="/static/css/structure.css">
    <script id="main">
            var num__param_fields = 11
            function add_param_field(){
                var table = document.getElementById("reaction-parameters");
                var row = table.insertRow(table.rowCount);
                for (var i=1; i<5; i++){
                    var field_name = "inner" + i.toString();
                    var field = create_field(field_name, num_param_fields);
                    var cell = row.insertCell(i-1);
                    cell.innerHTML = field;
                }
                num_param_fields += 1;
            }

            var num_results_fields = 4
            function add_result_field(){
                var table = document.getElementById("results");
                var row = table.insertRow(table.rowCount);
                for (var i=1; i<4; i++){
                    var field_name = "rinner" + i.toString();
                    var field = create_field(field_name, num_results_fields);
                    var cell = row.insertCell(i-1);
                    cell.innerHTML = field;
                }
                num_results_fields += 1;
            }

            function create_field(name, num_fields){
                innerHTML = document.getElementById(name).innerHTML;
                innerHTML = innerHTML.replace(/{num}/g, num_fields);
                return innerHTML;
            }
    </script>
    <div style="display: none" id="inner1">
        <label for="param{num}name">Parameter {num}</label>
    </div>
    <div style="display: none" id="inner2">
        <input class="input-field" id="param{num}name" name="param{num}name" placeholder="Param {num} name">
    </div>
    <div style="display: none" id="inner3">
        <label for="param{num}units">Select units</label>
    </div>
    <div style="display: none" id="inner4">
        <select name="param{num}units" id="param{num}units">
            <optgroup label="Volume">
                <option value="ml">ml</option>
                <option value="ul">&#956;l</option>
            </optgroup>
            <optgroup label="Time">
                <option value="seconds">Seconds</option>
                <option value="minutes">Minutes</option>
                <option value="hours">Hours</option>
            </optgroup>
            <optgroup label="Mass">
                <option value="g">g</option>
                <option value="mg">mg</option>
                <option value="ug">&#956;g</option>
            </optgroup>
            <optgroup label="Temperature">
                <option value="°C">&#176;C</option>
                <option value="K">K</option>
            </optgroup>
        </select>
    </div>
    <div style="display:none" id="rinner1">
        <td><label for="results{num}">Results {num}</label></td>
    </div>
    <div style="display:none" id="rinner2">
        <input class="input-field" id="results{num}" name="results{num}" placeholder="Results {num} type">
    </div>
    <div style="display:none" id="rinner3">
        <input class="input-field" id="results{num}units" name="results{num}units" placeholder="Results {num} units">
    </div>
</head>
<body>
    <div class="top-nav">
        <a href="{{url_for('general.index')}}">Home</a>
        <a href="{{url_for('general.robots')}}">Robot status</a>
        <a href="{{url_for('general.reactions')}}">Reaction status</a>
        <a class="active-nav" href="{{url_for('general.display_reactions')}}">Reaction-specific data</a>
        <a href="{{url_for('general.queue_reaction')}}">Reaction queue</a>
        <a href="{{url_for('auth.logout')}}">Log out</a>
    </div>
    {% if current_user.ADMIN == 1 %}
    <div class="admin-nav">
        <a href="{{url_for('auth.admin_panel')}}">Administrator panel</a>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="urgent_notification">
                {{messages[0]}}
            </div>
        {% endif %}
    {% endwith %}
    <h1>Add new reaction class</h1>
    <h2>You can either add a reaction manually, or upload a CSV file containing the parameters using the batch link below.</h2>
    <a href="{{url_for('general.batch_add_reaction')}}">Add a new reaction batch</a>
    <div id="introduction">
        For the reaction, please specify the reaction name and the reaction parameters. Then, upload a XDL document specifying the reaction steps.
    </div>
    <form method="POST" enctype="multipart/form-data" action="/add_reaction">
        <table class="form-table">
            <tr>
                <td><label for="reaction-name">Reaction name</label></td>
                <td><input class="input-field" id="reaction-name" name="reaction-name" placeholder="Reaction name"></td>
            </tr>
        </table>
        <h2>Parameters for reaction</h2>
        <table id="reaction-parameters" class="form-table">
            {% for i in range(1, 11) %}
                <tr>
                    <td><label for="param{{i}}name">Parameter{{i}}</label></td>
                    <td><input class="input-field" id="param{{i}}name" name="param{{i}}name" placeholder="Param {{i}} name"></td>
                    <td><label for="param{{i}}units">Select units</label></td>
                    <td>
                        <select name=param{{i}}units id=param{{i}}units>
                            <optgroup label="Volume">
                                <option value="ml">ml</option>
                                <option value="ul">&#956;l</option>
                            </optgroup>
                            <optgroup label="Time">
                                <option value="seconds">Seconds</option>
                                <option value="minutes">Minutes</option>
                                <option value="hours">Hours</option>
                            </optgroup>
                            <optgroup label="Mass">
                                <option value="g">g</option>
                                <option value="mg">mg</option>
                                <option value="ug">&#956;g</option>
                            </optgroup>
                            <optgroup label="Temperature">
                                <option value="°C">&#176;C</option>
                                <option value="K">K</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <h2>Results types for reaction:</h2>
        <table id="results" class="form-table">
            <tr>
                <td><label for="results1">Results 1</label></td>
                <td><input class="input-field" id="results1" name="results1" placeholder="Results 1 type"></td>
                <td><input class="input-field" id="results1units" name="results1units" placeholder="Results 1 units"></td>
            </tr>
            <tr>
                <td><label for ="results2">Results 2</label></td>
                <td><input class="input-field" id="results2" name="results2" placeholder="Results 2 type"></td>
                <td><input class="input-field" id="results2units" name="results2units" placeholder="Results 2 units"></td>
            </tr>
            <tr>
                <td><label for="results3">Results 3</label></td>
                <td><input class="input-field" id="results3" name="results3" placeholder="Results 3 type"></td>
                <td><input class="input-field" id="results3units" name="results3units" placeholder="Results 3 type"></td>
            </tr>
        </table>
        <table id="other-params" class="form-table">
            <tr>
                <td><label for="protocol">Please upload a protocol file (json or XDL)</label></td>
                <td><input type="file" id="protocol" name="protocol"></td>
            </tr>
            <tr>
                <td><label for="clean-step">Does this reaction require manual cleaning?</label></td>
                <td><input type="checkbox" id="clean-step" name=clean-step value="clean"></checkbox></td>
            </tr>
        </table>
        <button id="add-param-field" type="button" onclick="add_param_field()">Add parameter field</button>
        <button id="add-results-field" type="button" onclick="add_result_field()">Add result field</button>
        <button id="submit-button" type="submit">Submit</button>
    </form>
</body>
</html>