<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RxnEdit</title>
</head>
<body>
    <h1>Add new reaction</h1>
    <form>
        {{% for i in range(0, 10) %}}
            <div>
                <label for="param{{i+1}}">Parameter{{i}}</label>
                <input class="input-field" id="param{{i+1}}" name="param{{i+1}}" placeholder="Parameter {{i+1}}">
            </div>
        {{% endfor %}}
        <button class="add-field" onclick="add_field()">Add field</button>
        <button class="submit-button" type="submit">Submit</button>
        <script>
            var num_fields = 11
            function add_field(){
                var form = document.getElementById("form");
                var new_label = document.createElement("label");
                new_label.setAttribute("for", "param${num_fields}");
                form.appendChild(new_label);
                var new_field = document.createElement("input");
                new_field.setAttribute("type", "text");
                new_field.id = "param${num_fields}";
                form.appendChild(new_field);
            }
        </script>
    </form>
</body>
</html>