<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MC_Labserver 0.2</title>
    <link rel="stylesheet" href="/static/css/structure.css">
</head>
<body>
    <div class="top-nav">
        <a id="nav1" href="{{url_for('general.index')}}">Home</a>
        <a id="nav2" href="{{url_for('general.robots')}}">Robot status</a>
        <a id="nav3" href="{{url_for('general.reactions')}}">Reactions status</a>
        <a id="nav4" href="{{url_for('general.show_queue')}}">Reaction queue</a>
        <a id="nav5" href="{{url_for('general.display_reactions')}}">Reaction-specific data</a>
        <a id="nav6" href="{{url_for('auth.logout')}}">Log out</a>
    </div>
    {% if current_user.ADMIN == 1 %}
    <div class="admin-nav">
        <a href="{{url_for('auth.admin_panel')}}">Administrator panel</a>
    </div>
    {% endif %}
    {% block insert1 %}
    {% endblock insert1 %}
</body>
</html>